<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="MusafirWebsite">

	<listeners>
		<listener class-name="com.musafirwebsite.utilities.Reporting" />
	</listeners>

	<test name="MusafirMB Test">
		<parameter name="browser" value="chrome" />
		<classes>
			 <class name="com.musafirwebsite.testCases.TC_LoginTest_001" />
			<!-- <class name="com.musafirwebsite.testCases.TC_LoginDDT_002" /> -->
			<class name="com.musafirwebsite.testCases.TC_AddNewTrips_003" />
		</classes>

	</test>

</suite>